<h1>About Us</h1>

  <p>This is a game of Rock, Paper, Scissors, Lizard, Spock. </p>
  <p>Same game as normal but with <strong>Spock</strong> and a <strong>Lizard</strong>. </p>
  <p><strong>Spock</strong> smashes <strong>Scissors</strong> and vaporizes <strong>Rock</strong>;
    <strong>Spock</strong> is poisoned by <strong>Lizard</strong> and disproven by <strong>Paper</strong>.
    <strong>Lizard</strong> poisons <strong>Spock</strong> and eats <strong>Paper</strong>;
    <strong>Lizard</strong> is crushed by <strong>Rock</strong> and decapitated by <strong>Scissors</strong>.</p>
